# This is a basic workflow to help you get started with Actions

name: CI

env:
  GODOT_VERSION: 3.2.2
  GODOT_RELEASE: stable
  
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_godot:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: myood/godot-mini-builder:latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        chmod +x ${GITHUB_WORKSPACE}/compile_godot.sh
        ${GITHUB_WORKSPACE}/compile_godot.sh
        strip /root/godot-${GODOT_VERSION}-${GODOT_RELEASE}/bin/godot_server.x11.opt.64
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: godot-${GODOT_VERSION}-${GODOT_RELEASE}-release-editor
        # A file, directory or wildcard pattern that describes what to upload
        path: /root/godot-${GODOT_VERSION}-${GODOT_RELEASE}/bin/*
  # This workflow contains a single job called "build"
  build_android_templates:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: myood/godot-mini-builder:latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        chmod +x ${GITHUB_WORKSPACE}/compile_android_templates.sh
        ${GITHUB_WORKSPACE}/compile_android_templates.sh
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: godot-${GODOT_VERSION}-${GODOT_RELEASE}-release-templates
        # A file, directory or wildcard pattern that describes what to upload
        path: /root/godot-${GODOT_VERSION}-${GODOT_RELEASE}/bin/*
